body {
  font-family: "Roboto", sans-serif;
  color: rgb(10%, 10%, 10%);
  background: white;
  margin: 0;
  font-size: 16px;
}

i.shadowed {
  pointer-events: none;
  color: lighten(black, 30%);
}

div#allNav {
  width: 100%;
  height: 200px;

  &.shrink {
    div#fakeHeader a {
      opacity: 0;
    }

    div#navWrapper {
      pointer-events: all;
      opacity: 1;
    }

    &.wayDown {
      div#navWrapper {
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.6);
      }
    }
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    width: 50%;
    background: solid;
    color: white;
    border: none;
    text-decoration: none;
    text-shadow: 1px 1px #000;
  }

  a:hover {
    background: none;
    text-shadow: 2px 2px #000;
  }

  div#fakeHeader{
    height: 100%;
    width: 100%;
    background: #00897B;
    display: flex;
    flex-wrap: wrap;

    div#menu {
      display: flex;
      align-items: center;
      width: 100%;
      height: 70px;
      justify-content: center;

      a {
        font-size: 2.4em;
        display: flex;
        justify-content: center;
        width: 33.33%;
      }
    }

    a {
      height: 130px;
      font-size: 2.8em;
    }
  }

  div#navWrapper{
    pointer-events: none;
    opacity: 0;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;

    div#home {
      font-weight: lighter;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;

      a {
        width: 100%;
        height: 100%;
      }
    }

    nav {
      background: #00897B;
      height: 100%;
      width: 100%;
      display: flex;

      a {
        font-size: 2em;
      }
    }
  }
}

div.main-container {
  margin: 100px;
  height: 100%;

  div#mask {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &.active {
      opacity: 1;
      pointer-events: all;
    }
  }

  div.container-header {
    height: 200px;
    display: flex;
    color: #00897B;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    h1 {
      font-size: 2.5em;
      width: 80%;
      color: #00897B;
    }

    div.welcome {
      width: 100%;

      h1 {
        width: 100%;
        font-size: 2em;
      }
    }

    div#icons {
      display: flex;
      justify-content: space-between;
      width: 100px;

      i {
        font-size: 2em;
        text-align: center;
      }
    }
  }

  .container-content {
    display: flex;
    flex-direction: column;
    margin: 5px 100px;

    input[type="text"], input[type="password"] {
      color: #00897B;
      text-indent: 0.3em;
      width: 80%;
      height: 65px;
      background: none;
      opacity: 1;
      font-size: 2em;
      font-weight: lighter;
    }
  }

  &#index {
    div#mask div#hashtag-prompt {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background: white;
      color: #00897B;
      width: 300px;
      height: 200px;
      border-radius: 5px;

      div#icons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        i {
        width: 40px;
        text-align: center;

        &:hover {
          text-shadow: 1px 1px #000;
        }
      }
      }

      div#actual-prompt {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        height: 80%;
        width: 80%;

        div#headings {
          h1, h4 {
            margin: 0;
          }
        }

        textarea{
          outline-color: #00897B;
          border-color: #00897B;
          resize: none;
          border-radius: 5px;
          padding: 10px;
          font-weight: lighter;
          height: 50%;
        }
      }
    }

    div#posts {
      div.post-title {
        color: #00897B;
        display: flex;
        width: 100%;
        display: flex;
        flex-direction: column;

        a {
          color: #00897B;
          border: none;
          text-decoration: none;
          background: none;
        }

        div#post-wrapper{
          display: flex;

          div#icons {
            width: 20%;
            display: flex;
            align-items: center;
            margin: 0;

            div#status {
              display: flex;
              width: 175px;
              justify-content: space-around;
              opacity: 0;

              h3 {
                margin: 0;
              }

              &.visible {
                opacity: 1;
              }
            }

            i {
              text-align: center;
              font-size: 2em;
              width: 25%;

              &:not(.fa-angle-down) {
                opacity: 0;
                pointer-events: none;
              }

              &:hover:not(.fa-angle-down) {
                font-size: 2.2em;
              }
            }
          }

          input[type="text"] {
            border: 0;

            &.focused {
              border-radius: 5px;
              border: 1px solid #00897B;
              box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);

              &:focus {
                outline: 5px auto #00897B;
              }
            }

            &:focus {
              color: rgba(0, 137, 123, 0.5);

              &:not(.focused) {
                -webkit-text-fill-color: rgb(0, 137, 123);
                color: transparent;
                outline: none;

                &::placeholder {
                    color: #00897B;
                }
              }

              &::placeholder {
                  color: rgba(0, 137, 123, 0.5);
              }
            }
          }

          &.expanded {
            div#icons{
              i {
                &.fa-angle-down{
                  transform: rotateZ(180deg);
                }

                &.fa-hashtag {
                  &.active {
                    text-shadow: 1px 1px #000;

                    & ~ i {
                      color: lighten(black, 30%);
                    }
                  }
                }

                &:not(.fa-angle-down) {
                  opacity: 1;
                  pointer-events: all;

                  &.active {
                    text-shadow: 1px 1px #000;

                    & ~ i {
                      color: lighten(black, 30%);
                    }
                  }
                }
              }
            }

            +div#full-post {
              textarea.post-body {
                opacity: 1;
                height: 300px;
                box-shadow: none;
                width: 100%;
                background: darken(white, 2%);
                border-radius: 5px;

                &:focus:not(.editing) {
                  outline: none;
                  color: transparent;
                  -webkit-text-fill-color: black;
                  border-color: black;
                }

                &.editing {
                  pointer-events: all;
                  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
                }
              }

              ul {
                display: flex;
                justify-content: space-between;
              }
            }
          }
        }
        textarea.post-body {
          outline-color: #00897B;
          resize: none;
          padding: 10px;
          font-weight: lighter;
          font-size: 2em;
          opacity: 0;
          height: 0;
          border-color: #00897B;
        }

        ul {
          padding: 0;
          width: 100%;
          display: none;
          list-style: none;

          li {
            &.tags {
              color: red;
            }
            &:not(.tags){
              &:hover {
                text-shadow: 1px 1px #000;
              }
            }
          }
        }
      }
    }

    div#pop-up {
      opacity: 0.7;
      padding: 0 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      position: fixed;
      bottom: 0;
      left: 0;
      background: lighten(#00897B, 0%);
      width: 99%;
      height: 50px;

      &.off {
        display: none;
      }

      &.locked {
        height: 70px;
        h1 {
          font-size: 1.6em;
          width: 90%;
        }
      }

      h1, i {
        color: white;
        font-size: 1.8em;
      }

      h1 {
        width: 80%;
        text-align: center;
      }
    }
  }

  &#sign-up, &#sign-in {
    form#signup-form, form#signin-form {
      margin-top: 30px;
      align-items: center;

      div {
        &.wrapper {
          display: flex;
          align-items: center;
          width: 100%;
          height: 100px;

          &#field {
            justify-content: center;

            input[type="text"], input[type="password"] {
              background: white;
              border-radius: 5px;
              border: 1px solid #00897B;
              box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);

              &:-webkit-autofill {
                  -webkit-box-shadow: 0 0 0px 1000px white inset;
              }


              &.invalid {
                border: 1px solid #db3236;
                color: #db3236;

                &::placeholder {
                    color: #db3236;
                }

                &:focus {
                  outline: 5px auto #db3236;

                  &::placeholder {
                      color: lighten(#db3236, 30%);
                  }
                }
              }

              &.valid {
                border: 1px solid #3cba54;
                color: #3cba54;

                &::placeholder {
                    color: lighten(#3cba54, 30%);
                }

                &:focus {
                  outline: 5px auto #3cba54;

                  &::placeholder {
                      color: lighten(#3cba54, 30%);
                  }
                }
              }

              &:focus {
                outline: 5px auto #00897B;

                &::placeholder {
                    color: rgba(0, 137, 123, 0.5);
                }
              }
            }
          }

          &#submit {
            justify-content: space-around;
            width: 80%;

            input[type="submit"] {
              color: white;
              border: 0;
              font-size: 2em;
              font-weight: lighter;
              border-radius: 10px;
              background: #00897B;
              width: 200px;
              height: 50px;
              pointer-events: all;

              &:-webkit-autofill {
                  -webkit-box-shadow: 0 0 0px 1000px white inset;
              }

              &.inactive {
                color: darken(white, 20%);
                pointer-events: none;
                background: lighten(#00897B, 10%);
              }


              &:hover {
                padding-top: 3px;
                box-shadow: 0px 3px 0px darken(#00897B, 10%);
              }
            }
          }
        }
      }
    }
  }
}

::placeholder {
    color: #00897B;
}

input {
      -webkit-appearance: none;
  }

@media only screen and (max-width: 900px) {
  div #allNav {
    div#navWrapper{
    nav {
      a {
        font-size: 1.5em;
      }
    }
  }
  }

  div.main-container {
    margin-left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    div.container-header {
      width: 100%;
      margin: 0 100px;
    }

    .container-content {
    align-items: center;
    width: 90%;
    margin: 0;
  }
  }
}

@media only screen and (max-width: 640px) {
  body {
    font-size: 16px;

    * {
      font-weight: lighter;
    }
  }

  div#allNav {
    font-weight: lighter;
    height: 200px;

    &.shrink.wayDown div#navWrapper {
      box-shadow: none;
    }

    a {
      font-size: 1.8em;
    }

    div#fakeHeader{
      display: none;

      a {
        padding-top: 0;
        font-size: 1.8em;
      }
    }

    div#navWrapper{
      height: 190px;
      position: absolute;
      opacity: 1;
      pointer-events: all;

      a:hover {
        background: darken(#00897B, 10%);
      }

      nav {
        flex-wrap: wrap;

        div#home {
          font-weight: lighter;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 75px;
          background: darken(#00897B, 10%);

          a {
            width: 100%;
            height: 100%;
          }

          a:hover {
            background: darken(#00897B, 15%);
          }
        }

        a {
          width: 50%;
          text-shadow: none;
          font-weight: lighter;
          height: 30%;

          a:hover {
            background-color: blue;
            text-shadow: none;
          }
        }
      }
    }
  }

  div.main-container {
    &#index {
      margin: 0;

      h1 {
        margin: 0px 20px 0px 20px;
        font-size: 1.5em;
      }

      div#mask {
        div#hashtag-prompt {
          div#actual-prompt {
            textarea {
              font-size: 16px;
            }
          }
        }
      }

      div.container-header {
        margin: 0px 20px 0px 20px;

        h1 {
          font-size: 2em;
        }
      }

      div#posts {
        margin: 0;
        width: 100%;

        div.post-title {
          div#post-wrapper{
            margin: 0px 20px 0px 20px;
            justify-content: center;

            div#icons {
              margin: 0;
              margin-right: 20px;
              justify-content: flex-end;
              align-items: center;
              width: 10%;

              i {
                text-align: center;
                font-size: 1.7em;
                width: 25%;

                &.fa-angle-down {
                  text-align: right;
                }

                &:not(.fa-angle-down) {
                  opacity: 0;
                  width: 0;
                }

                &:hover:not(.fa-angle-down) {
                  font-size: 2.2em;
                }
              }
            }

            input[type="text"] {
              width: 90%;
              font-size: 1.7em;
              height: 50px;

              &.focused {
                border-radius: 0px;
              }
            }

            &.expanded {
              margin: 0;
              justify-content: space-between;

              div#icons{
                margin-right: 0;
                justify-content: center;
                width: 33%;

                i:not(.fa-angle-down) {
                    width: 25%;
                }
              }

              input[type="text"] {
                width: 63%;
              }

              +div#full-post {
                textarea.post-body {
                  height: 200px;
                  border-radius: 0;
                  border-left-style: none;
                  border-right-style: none;
                }

                ul {
                  margin: 0px 20px 0px 10px;
                }
              }
            }
          }
          textarea.post-body {
            font-size: 1.6em;
          }

          ul {
            padding: 0;
            width: 100%;
            display: none;
            list-style: none;

            li {
              &.tags {
                color: red;
              }
              &:not(.tags){
                &:hover {
                  text-shadow: 1px 1px #000;
                }
              }
            }
          }
        }
      }

      div#pop-up {
        h1 {
          font-size: 1.5em;
        }
      }
    }

    &#sign-up, &#sign-in {
      width: 100%;
      margin: 0;

      div.container-header {
        font-size: 0.8em;
        margin-left: 30px;
      }

      form#signup-form, form#signin-form {
        margin: 0;
        width: 100%;
        align-items: center;

        div {
          width: 100%;

          &.wrapper {
            height: 65px;

            &#field {
              input[type="text"], input[type="password"] {
                width: 100%;
                border-radius: 0;
                border: 0;
                border-bottom: 2px solid #00897B;
                box-shadow: none;
                outline: 0;

                &.invalid {
                  border-radius: 0;
                  border-bottom: 1px solid #db3236;

                  &:focus {
                    outline: 0;
                  }
                }

                &.valid {
                  border-radius: 0;
                  border-bottom: 1px solid #3cba54;

                  &:focus {
                    outline: 0;
                  }
                }

                &:focus {
                  outline: 0;
                }
              }

              input[type="text"] {
                border-top: 2px solid #00897B;

                &.invalid {
                  border-top: 2px solid #db3236;
                }

                &.valid {
                  border-top: 2px solid #3cba54;
                }
              }
            }

            &#submit {
              justify-content: space-around;
              width: 100%;
              height: 50px;

              input[type="submit"] {
                color: white;
                border: 0;
                font-size: 2em;
                font-weight: lighter;
                border-radius: 0;
                background: #00897B;
                border-top: 1px solid #00897B;
                border-bottom: 2px solid #00897B;
                width: 50%;
                height: 50px;
                pointer-events: all;

                &:nth-child(2) {
                  border-left: 2px solid #00897B;
                }

                &.inactive {
                  color: darken(white, 20%);
                  pointer-events: none;
                  background: lighten(#00897B, 10%);
                }


                &:hover {
                  padding-top: 0;
                  box-shadow: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
